<div class="container">
	
	<!-- formatting for title not currently in use
	<div class="row">
		<div class="span12">
			<p><h1></p></h1>
		</div>
	</div>
			-->
	
	<div class="row">
		<div class="span12">
			<p><h2 class="center">能力和经验</h2></p>
			<p>许多考试培训中心认为,任何人只要能讲一口流利的英语就能教SAT和TOEFL。但考过这些考试的学校的学生(和他们的考试成绩)会告诉你,这根本不是事实。在留西教育,所有的老师不仅擅长自己考试,更擅长教授中国学生如何通过考试。了解这些考试的全部,就是我们本质工作,所有的老师都要接受培训来教授给我们的学生能通过这些考试的更好的方法。</p>
			<p>此外,所有的老师都已经有通过这些考试及大学申请的经验。他们都有优异的的SAT成绩并且在美国的顶级学术机构学习过。这些经验不仅是一个附加的优势，对进行有效的考试培训也是完全有必要的。</p>
		<div class="span6"> <!-- insert picture here -->
	</div>
	
	<div class="row">
		<div class="span12">
			<p><h2 class="center">我们的目标</h2></p>
			<p>我们有一个目标。我们仅有一个非常简单的目标，就是帮助我们的学生们实现他们的梦想。我们希望能在每一个环节上帮助我们的学生能够进入美国学习。从考试准备到学校申请的每一个环节,我们都要帮助我们的学生去尽力争取他们想去的学校。</p>
		<div class="span6"> <!-- insert picture here -->
	</div>
	
	<div class="row">
		<div class="span12">
			<p><h2 class="center">信任</h2></p>
			<p>在考试培训领域，一个公司的成功仅取决于一件事:结果。我们提供大量的激励和保证,保证我们的学生通过培训得到他们需要的分数。我们还会出具学生能提高分数的定量分析报告。这些分析报告能带来更个性化的服务以及帮助学生建立更有效的培训系统。</p>
		<div class="span6"> <!-- insert picture here -->
	</div>
</div>