<div class="container">

      <div class="hero-unit">
        <h1>Ivy League SAT Prep</h1>
        <p>Prepare with the best! Proven score increases of 300 points!</p>
        <p><a href="#myModal" role="button" class="btn btn-primary btn-large">Get Started Now!</a></p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Programs</h2>
          <p>The key to our success is the perfect combination of theory and practice. Learn more about our unique program materials here.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        
		<div class="span4">
          <h2>Media</h2>
          <p>Check us out on Weibo and Baidu!</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
       
	   <div class="span4">
          <h2>Resources</h2>
          <p>Get started studying for the SAT today with these free resources.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
      </div>

    </div>
</body>