<a id="sat"></a>

<div class="container" id="sat">
<!--
<p align="center">
    <strong>美国大学录取世界各国高中生的标准化考试，考验学生是否具备在美国大学学习所必需的的阅读及写作能力，同时也是申请美国大学奖学金的重要参考。</strong>
</p>
<p>
    <strong>一、关于 About the SAT</strong>
</p>
<p>
    <strong>定义 Definition</strong>
</p>
<p>
    SAT，全称Scholastic Assessment Test，中文名称为学术能力评估测试。由美国大学委员会（College Board）主办，SAT
</p>
<p>
    成绩是世界各国高中生申请美国名校学习及奖学金的重要参考。
</p>
<p align="left">
    <strong>介绍 Introduction</strong>
</p>
<p align="left">
    SAT推理测验（SAT Reasoning Test）是美国大学录取中的一个标准化测试。SAT考试隶属于由非盈利性机构美国大学理事会（College
    Board），并由美国大学理事会出版、完善。之前由教育考试服务（ETS：Educational Testing Service）进行命题、印刷和评分。现在，ETS
    仍然承担SAT的命题工作。SAT推理测验旨在考察学生的能力是否足够适应大学教育。
</p>

-->

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
		<p class="product-heading">SAT基础班</p>
		<p class="product-heading-sub">Foundation</p>
		<p class="product-description">
			Our most popular class, foundation provides all the benefits of a small class environment with the resources that you expect from a professional teaching organization.
		</p>  
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
             Learn More     
		</a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
	
	<div class="accordion-inner">
        <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        帮助学员夯实SAT考试中所涉及的词汇及语法、阅读、写作的基础知识，为后期参加中级班做准备。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        初三、高一、高二未参加过课外学习、未参加过SAT考试，模考分数1300分以下。<strong></strong>
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                    </p>
                    <p align="left">
                        本课程包含：写作基础、阅读基础、语法基础、词汇四门课。
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解；
                        <br/>
                        备考各项技巧讲解。
                    </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
		<p class="product-heading">SAT中级班</p>
		<p class="product-heading-sub">Advanced</p>
		<p class="product-description">
			Advanced is a perenial winner with students looking to bring their scores to the next level.
		</p>  
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
             Learn More     
		</a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        针对考试题型、应试技巧，做综合系统的讲解，针对学生的特殊情况，老师制定个性授课，能真实了解SAT考试的各个环节及自身的学习状况，制定适合自身的学习计划，达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        模考分数达到在1300-1600之间。
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。<strong></strong>
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
      </div>
    </div>
  </div>
    <div class="accordion-group">
    <div class="accordion-heading">
		<p class="product-heading">SAT冲刺班</p>
		<p class="product-heading-sub">Platinum Grillz 95+</p>
		<p class="product-description">
			The sprint class is ideal for students who have studied the SAT extensively and are looking to take their scores above 2000. Must test in at 1900 or above to qualify.
		</p>  
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
             Learn More     
		</a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        通过SAT课程系统的学习，针对考试题型、应试技巧，做综合系统的讲解，老师分项授课，能真实了解SAT考试的各个环节，学到备考的各种考试技巧，考试达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        模考分数达到1950分以上，真考1900分以上。开班后与学生签订保分协议。
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。<strong></strong>
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
      </div>
    </div>
  </div>
    <div class="accordion-group">
    <div class="accordion-heading">
		<p class="product-heading">SAT精品班</p>
		<p class="product-heading-sub">One-on-one attention to get you where you want to be</p>
		<p class="product-description">
			Our newest offering, one-on-one classes allow teachers to focus on the individual strengths and weaknesses of each student. Better scores guaranteed. 
		</p>  
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
             Learn More     
		</a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        小班教学，更针对性学习。通过SAT课程系统的学习，针对考试题型、应试技巧，做综合系统的讲解，老师分项授课，能真实了解SAT考试的各个环节，学到备考的各种考试技巧，考试达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        初三、高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
      </div>
    </div>
  </div>
    <div class="accordion-group">
    <div class="accordion-heading">
		<p class="product-heading">SAT VIP班</p>
		<p class="product-heading-sub">Smaller classes; higher scores</p>
		<p class="product-description">
			Our award-winning VIP classes combine Qwestprep materials with the individualized attention that VIP entails. Smaller classes mean more personalized attention per student.
		</p>  
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
             Learn More     
		</a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        一对一教学，量身定制学习计划。通过SAT课程系统的学习，针对考试题型、应试技巧，做综合系统的讲解，老师分项授课，能真实了解SAT考试的各个环节，学到备考的各种考试技巧，考试达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        初三、高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
      </div>
    </div>
  </div>
</div>

<!--

<table border="1" cellspacing="0" cellpadding="0" width="549">
    <tbody>
        <tr>
            <td width="86">
                <p align="center">
                    <strong>SAT基础班</strong>
                </p>
            </td>
            <td width="463" valign="top">
                <div>
                    <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        帮助学员夯实SAT考试中所涉及的词汇及语法、阅读、写作的基础知识，为后期参加中级班做准备。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        初三、高一、高二未参加过课外学习、未参加过SAT考试，模考分数1300分以下。<strong></strong>
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                    </p>
                    <p align="left">
                        本课程包含：写作基础、阅读基础、语法基础、词汇四门课。
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解；
                        <br/>
                        备考各项技巧讲解。
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td width="86" nowrap="">
                <p align="center">
                    <strong>SAT 中级班</strong>
                </p>
            </td>
            <td width="463" valign="top">
                <div>
                    <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        针对考试题型、应试技巧，做综合系统的讲解，针对学生的特殊情况，老师制定个性授课，能真实了解SAT考试的各个环节及自身的学习状况，制定适合自身的学习计划，达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        模考分数达到在1300-1600之间。
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。<strong></strong>
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td width="86" nowrap="">
                <p align="center">
                    <strong>SAT 冲刺班</strong>
                </p>
            </td>
            <td width="463" valign="top">
                <div>
                    <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        通过SAT课程系统的学习，针对考试题型、应试技巧，做综合系统的讲解，老师分项授课，能真实了解SAT考试的各个环节，学到备考的各种考试技巧，考试达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        模考分数达到1950分以上，真考1900分以上。开班后与学生签订保分协议。
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。<strong></strong>
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td width="86" nowrap="">
                <p align="center">
                    <strong>SAT精品班</strong>
                </p>
            </td>
            <td width="463" valign="top">
                <div>
                    <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        小班教学，更针对性学习。通过SAT课程系统的学习，针对考试题型、应试技巧，做综合系统的讲解，老师分项授课，能真实了解SAT考试的各个环节，学到备考的各种考试技巧，考试达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        初三、高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td width="86" nowrap="">
                <p align="center">
                    <strong>SAT VIP班</strong>
                </p>
            </td>
            <td width="463" valign="top">
                <div>
                    <p align="left">
                        <strong>学习目标</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        一对一教学，量身定制学习计划。通过SAT课程系统的学习，针对考试题型、应试技巧，做综合系统的讲解，老师分项授课，能真实了解SAT考试的各个环节，学到备考的各种考试技巧，考试达到自己满意的分数。
                    </p>
                    <p align="left">
                        <strong>适用人群</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        初三、高一、高二同等水平的学员
                    </p>
                    <p align="left">
                        有意申请或转入美国名校的学员
                    </p>
                    <p align="left">
                        欲参加SAT考试的学员
                    </p>
                    <p align="left">
                        <strong>课程内容</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        本课程包含：填空、写作、阅读、语法四门课。
                    </p>
                    <p align="left">
                        <strong>课程要点：</strong>
                        <strong></strong>
                    </p>
                    <p align="left">
                        4门课程综合系统讲解
                        <br/>
                        备考各项技巧讲解
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>



<p align="left">
    <strong>现状</strong>
    <strong> </strong>
    <strong>Current Situation</strong>
    <strong></strong>
</p>
<p align="left">
　　现阶段进行的SAT考试的形式是从2005年3月开始的。SAT考试总时长3小时45分钟。2012年下半年开始报名费用为：美国本土50美元，国际报名81美元（如果超过报名最后期限补报则需要加钱）。在SAT中，总分介于600到2400分之间，由批判性阅读（Critical Reading）, 数学（Mathematics）和写作
    （Writing）三部分各800分加和而得。
</p>
<p align="left">
    <strong>地位及作用</strong>
    <strong>Effect</strong>
</p>
<p align="left">
    　　SAT考试成绩，或和其具有同等效力的<a href="http://baike.baidu.com/view/95399.htm" target="_blank">ACT</a> 考试（American College Test）成绩，在申请美国大部分大学时都是必须提供的。
</p>
<p align="left">
    <a name="2_5"></a>
    <a name="sub95395_2_5"></a>
　　根据SAT的组织者——美国大学理事会（下称CB）的观点，SAT主要是考察学生们在大学阶段所必需的阅读和写作能力。CB称，SAT会测验学生们将在学校学到的知识付诸实践运用分析、解决问题的能力，而这些知识在大学是至关重要的。在美国，学生一般会在10、11或12年级参加SAT考试。此外，CB还表示，SAT成绩和平均成绩点数（    <a href="http://baike.baidu.com/view/36656.htm" target="_blank">GPA</a>：Grade Point
    Average）结合起来，可以更好地让大学招生委员会了解一个学生的水平。并且一个跟踪统计数据也表明，SAT和GPA二者的关系非常紧密。由于种种差异，SAT作为一个标准化的考试可以使GPA这种区域性的成绩在更广的范围内具有可比性，同时也可以削弱资金、课程、评分标准等其他因素对学生客观评价的影响。
</p>
<p align="left">
    　　从历史来看，SAT在海岸地区更加被普遍接受，而<a href="http://baike.baidu.com/view/1584811.htm" target="_blank">ACT考试</a>在中西部和南部接受程度更高。
</p>
<p align="left">
　　SAT也用来作为授予奖学金的参考指标。例如，在美国高中11和12年级时进行的大规模奖学金竞赛- <a href="http://baike.baidu.com/view/6085455.htm" target="_blank">美国优秀学生奖学金</a>竞赛中，SAT为评判指标之一。    <a name="ref_[3]_95395"></a>
</p>
<p align="left">
    　　<a href="http://baike.baidu.com/view/185793.htm" target="_blank">门萨</a>（Mensa）和三九高智社（Triple Nine
    Society）等一些高智商组织也将SAT作为入社的评判指标。比如，三九高智社的“录取标准”为：1450分（1995年4月前的SAT考试）和1520分（1995年4月到2005年2月的SAT考试）。
</p>
<p align="left">
　　SAT有时也用来辨别13岁以下高智商儿童。例如，美国约翰·霍普金斯大学天才教育中心（Johns Hopkins Center for Talented Youth ）用SAT在7-8 年级学生中选拔高智商儿童。<a name="3"></a><a name="sub95395_3"></a>    <a name="3_1"></a><a name="sub95395_3_1"></a>
</p>
<p align="left">
    <strong>时长与科目分配</strong>
    <strong> Duration and Subject Assignment</strong>
</p>
<p align="left">
    SAT考试总时长3小时45分钟（225分钟），共有批判性阅读（Critical Reading）、数学（Mathematics）和写作（Writing）
</p>
<p align="left">
    三个科目。每一次的SAT考试分为10个区（section），时间分配如下：
</p>
<p align="left">
    Section 1到Section 7－各25分钟
</p>
<p align="left">
    　　Section 8和Section 9－各20分钟
</p>
<p align="left">
    　　Section 10－10分钟
</p>
<p align="left">
    　　三个科目的分配如下：
</p>
<p align="left">
    　　批判性阅读（Critical Reading）：共70分钟，由两个25分钟区和一个20分钟区组成；
</p>
<p align="left">
    　　<a href="http://baike.baidu.com/view/1284.htm" target="_blank">数学</a>（Mathematics）：共70分钟，由两个25分钟区和一个20分钟区组成；
</p>
<p align="left">
    　　<a href="http://baike.baidu.com/view/50880.htm" target="_blank">写作</a>（Writing）：由25分钟的作文（Essay）和25+10分钟的语法选择题（Writing MC）组成。
</p>
<p align="left">
    　　每次考试时，各个区的科目顺序都会改变。如需要申请考试报名，可参考<a name="ref_[4]_95395"></a>。
</p>
<p align="left">
    <strong>注意：</strong>
    为了使平均分保持稳定，每次考试中都会在第二区到第七区之间插入一个科目不定的25分钟试验区（即加试），这个区的题目不计分。但是，在做完整套题目之前，由于不可在区间跳跃，应试者无法知道哪个区是加试题目，所以，各个区都要认真对待。
</p>
<p align="left">
    <strong></strong>
</p>
<p align="left">
    <strong>科目介绍</strong>
    <strong> </strong>
    <strong>Subject Introduction</strong>
    <strong></strong>
</p>
<p align="left">
    <a name="3_2"></a>
    <a name="sub95395_3_2"></a>
    <strong>批判性阅读</strong>
    <strong>Critical Reading</strong>
    <strong></strong>
</p>
<p align="left">
    　　<strong>1</strong><strong>、题目分配结构</strong>
</p>
<p align="left">
    　　批判性阅读（下称CR）部分共67道题目，包括：19道完成句子（Sentence Completion，下称SC）和48道文章阅读（Passage-Based Reading）。
</p>
<p align="left">
    　　文章阅读中，共包含3篇独立长文章、1组长对比文章、2篇独立短文章和1组对比短文章，共5篇独立文章和两组对比文章。
</p>
<p align="left">
    　　<strong>2</strong><strong>、搭配形式</strong>
</p>
<p align="left">
    　　25分钟区：5道SC+短文章（两篇独立/一组对比）+两篇长文章（一组对比文章算为一篇）
</p>
<p align="left">
    　　25分钟区：8道SC+短文章（两篇独立/一组对比）+一篇长文章（一组对比文章算为一篇）
</p>
<p align="left">
    　　20分钟区：6道SC+一篇长文章（ 一组对比文章算为一篇）
</p>
<p align="left">
    　　<strong>3</strong><strong>、完成句子</strong>
</p>
<p align="left">
    　　在一个句子中，抠掉1或2个词（词组），给出5个选项，根据给出的句子部分，选择最合适的填入，主要考察词汇量。
</p>
<p align="left">
    　　<strong>4</strong><strong>、文章阅读</strong>
</p>
<p align="left">
　　给出一篇或一组文章，阅读后回答问题。文章所涉及的领域有：社会科学、人文、自然科学或小说（每次必有一篇）。短文章每篇（对比阅读算两篇）大约100词左右，每篇文章会出2道题目（对比文章4道）。长文章或文章组每篇（组）总词数介于400到800之间。<a name="3_3"></a>    <a name="sub95395_3_3"></a>
</p>
<p align="left">
    <strong>数学</strong>
    <strong>Mathematics</strong>
    <strong></strong>
</p>
<p align="left">
    　　<strong>1</strong><strong>、题目分配和结构</strong>
</p>
<p align="left">
    　　数学部分共44道选择题和10道填空题。
</p>
<p align="left">
    　　<strong>2</strong><strong>、搭配形式</strong>
</p>
<p align="left">
    　　25分钟区：20道选择
</p>
<p align="left">
    　　25分钟区：8道选择+10道填空
</p>
<p align="left">
    　　20分钟区：16道选择
</p>
<p align="left">
    　　<strong>3</strong><strong>、考察内容</strong>
</p>
<p align="left">
    　　对于中国学生比较简单，初中毕业水平即可。
</p>
<p align="left">
    　 <strong>4</strong><strong>、其他</strong>
</p>
<p align="left">
    　　允许使用计算器，每个区最开头会给出一些公式。
</p>
<p align="center">
    <a href="http://baike.baidu.com/albums/95395/95395/0/0.html#0$fab3ac117edad30fcb80c418" target="_blank">
        <img border="0" width="250" height="114" src="file:///C:/Users/Jameson/AppData/Local/Temp/msohtmlclip1/01/clip_image001.jpg" alt="每个数学区前的说明与公式"/>
    </a>
</p>
<p align="center">
    <a href="http://baike.baidu.com/albums/95395/95395/0/0.html#0$fab3ac117edad30fcb80c418" target="_blank" title="查看图片"> </a>
    每个数学区前的说明与公式
</p>
<p align="left">
    <a name="3_4"></a>
    <a name="sub95395_3_4"></a>
    <strong></strong>
</p>
<p align="left">
    <strong>写作</strong>
    <strong>Writing</strong>
    <strong></strong>
</p>
<p align="left">
    　　<strong>1</strong><strong>、题目分配和结构</strong>
</p>
<p align="left">
    　　这个科目是在2005年SAT改革之后才加进来的，共3个区，包含一篇作文和49道语法选择题。其中，作文大约占总分的30%，语法选择题大约占总分的70%。
</p>
<p align="left">
    　　语法选择题中包含25道改进句子（Improving Sentences，下称IS）、18道句子挑错（Identifying Sentence Error，下称ISE）和6道改进篇章（Improving Passage，下称IP）。
</p>
<p align="left">
    　　<strong>2</strong><strong>、搭配形式</strong>
</p>
<p align="left">
    　　Section 1（25分钟）：作文 [注：每次考试，第一个区肯定是25分钟作文]
</p>
<p align="left">
    　　25分钟区：11道IS+18道ISE+6道IP
</p>
<p align="left">
    　　Section 10（10分钟）：14道IS[注：每次考试，第十个区也就是最后一个区肯定是语法]
</p>
<p align="left">
    　　<strong>3</strong><strong>、作文</strong>
</p>
<p align="left">
    　　在25分钟内，按照给出的题目作文。若想拿到高分，词数一般要在400以上。作文会由两个评审批阅，除空白和跑题外，每个评审的赋分范围是1－6分，作文总分为2－12分。
</p>
<p align="left">
    　　<strong>4</strong><strong>、语法选择题</strong>
</p>
<p align="left">
    　　全部是挑错改错，中国学生经过培训或自学后提高应当很快。
</p>
<p align="left">
    <strong>计算方法</strong>
    <strong> Computing Method</strong>
</p>
<p align="left">
    每个科目分开计算。
</p>
<p align="left">
    　　阅读：正确个数减去错误个数乘以四分之一后，四舍五入到最近整数得到原始分。再由原始分值通过换算表（根据考试难易度每次调整）换算为200～800分的最终成绩。
</p>
<p align="left">
    　　数学：选择题正确个数减去错误个数乘以四分之一后加上填空题正确个数， 四舍五入到最近整数得到原始分。再由原始分值通过换算表（根据考试难易度每次调整）换算为200～800分的最终成绩。
</p>
<p align="left">
    　　写作：选择题正确个数减去错误个数乘以四分之一后，四舍五入到最近整数得到选择题原始分，再配合作文（0－12分）分值，通过换算表（根据考试难易度每次调整）换算为200～800分的最终成绩。
</p>
<p align="left">
    <a name="5_1"></a>
    <a name="sub95395_5_1"></a>
    <strong>考试时间</strong>
    <strong> </strong>
    <strong>Test Time</strong>
</p>
<p align="left">
    　　SAT考试在每年三月、五月、六月、十月、十一月和十二月的第一个星期六以及一月的最后一个周六举行。其中，每年三月的考试仅在美国举行。考试时间是上午8点开始，大约到下午1点结束（各个考点休息等的情况不同，故时间有差异）。
</p>
<p align="left">
    　　具体参见College Board网站。
</p>
<p align="left">
    　　2012秋季～2013夏季考试时间
</p>
<p align="left">
    　　2012年：10月6日、11月3日、12月1日
</p>
<p align="left">
    　　2013年：1月26日、3月9日(北美)、5月4日、6月1日
</p>
<p align="left">
    <a name="5_2"></a>
    <a name="sub95395_5_2"></a>
    <strong>考试地点</strong>
    <strong> </strong>
    <strong>Test Place</strong>
</p>
<p align="left">
　　<a href="http://baike.baidu.com/view/327945.htm" target="_blank">中国大陆</a>没有考点。一般来说，亚洲的<a href="http://baike.baidu.com/view/2607.htm" target="_blank">香港</a>、<a href="http://baike.baidu.com/view/3593.htm" target="_blank">新加坡</a>、<a href="http://baike.baidu.com/view/2816.htm" target="_blank">澳门</a>、<a href="http://baike.baidu.com/view/2200.htm" target="_blank">台湾</a>、    <a href="http://baike.baidu.com/view/1554.htm" target="_blank">日本</a>、<a href="http://baike.baidu.com/view/3299.htm" target="_blank">韩国</a>
    等地都设有考场（除每年3月），大陆考生可以选择在这些地方进行考试，届时会有一些留学机构组织“考试团”。
</p>
<p align="left">
    　　[ 注：近年来，由于大陆考生在香港考场的不<a href="http://baike.baidu.com/view/34118.htm" target="_blank">诚信</a>
    行为（如跨区即不遵守时间规定、剽窃等）泛滥，香港考场的监考力度急剧增加以至于到了“过严”的地步。2011年10月1日，香港“万人大考场”启用，环境不甚理想；故建议报澳门、台湾、新加坡等地的考试。]
</p>
<p align="left">
    <a name="5_3"></a>
    <a name="sub95395_5_3"></a>
    <strong>中国大陆拟建考点</strong>
    <strong> </strong>
    <strong>Planned Test Location in China</strong>
</p>
<p align="left">
    　　SAT中国大陆考点是很多学生关心的问题，目前中国学生如果要考SAT必须到香港。但是美国大学理事会近日表示，他们正在争取中国教育部批准SAT(Scholastic Assessment Test)考试(“学术水平测验考试”)在中国大陆开设考点。该董事会主席卡伯顿(Gaston
    Caperton)称，理事会正与中国官员进行认真讨论，不过，中国官员同时承认SAT中国大陆考点的设立将给大陆家庭带来沉重负担。
</p>
<p align="left">
    　　由于中国独生子女政策和中国家庭愈趋富裕，美国大学招生人员正在挖掘中国高中生当中的佼佼者赴美学习，尤其是那些能够以超出大陆本科学费数倍送子女赴美留学的中国中层阶级家庭。美国波士顿大学入学执行总监沃尔特(Kelly Walter)表示，美国高等教育专员们对SAT中国大陆考点的设立抱有希望。
</p>
<p align="left">
    　　美国南<a href="http://baike.baidu.com/view/173553.htm" target="_blank">加利福尼亚大学</a>(USC)本科生录取主任布兰诺德(Timothy
    Brunold)称，中国大陆拥有巨大且未开发的生源市场。2010年，赴南加大学学习的中国高中生有162人，而2005年只有5名中国高中生在习。
</p>
<p align="left">
    　　据称，赴美国读大学的中国高中生在4年内增加了4倍。美国<a href="http://baike.baidu.com/view/7708.htm" target="_blank">纽约</a>国际教育研究所(the Institute of International
    Education)称，2010学年，中国高中生赴美读本科的数量已经达到39，921，从而超过韩国成为第一大国际本科生生源。SAT考试和PAST(即PreliminarySAT，俗称美国“小高考”，亦称SAT考前的热身赛)以及AP(AdvancedPlacement)(大学预修课程)考试都是美国大学理事会公认的三大官方考试。其中，SAT考试成绩是美国大学录取学生的主要依据，是世界各国高中生申请进入美国大学本科学习及获得奖学金的重要参考，它对录取与否及奖学金多少的影响非常大。而且，美国的一些名牌大学都要求世界各地的学生提交SAT成绩。但是，中国大陆目前还没有开设SAT考点，现在只在台湾和香港开设考点，据称，有些大陆高中生甚至去韩国参加SAT考试，有的时候参加次数还不止一次。
</p>
<p align="left">
    　　虽然部分美国大学可以豁免中国学生的SAT成绩。但美国名校通常坚持要学生提供SAT成绩，否则不予录取。
</p>
<p align="left">
    　　目前，中国外交部和驻美国大使馆对大陆开设SAT考点一事未作出回应。
</p>
<p align="left">
    　　据称，中国校园将从2012年开设PSAT考试，侧重考察低年级学生的学习优势和劣势。
</p>
<p align="left">
    <a name="5_4"></a>
    <a name="sub95395_5_4"></a>
    <strong>费用</strong>
    <strong> fee</strong>
</p>
<p align="left">
    　　SAT1（即推理测验）：50美元，国际考生81美元
</p>
<p align="left">
    　　SAT2（即科目测验，Subject Test）：基本费用54美元，每科加12美元，带听力的语言科目每科加23美元，所以不考听力，两科78美元，三科90美元。
</p>
<p align="left">
    　　电话报名费：15美元
</p>
<p align="left">
    　　变更费（变更考试种类、地点、时间）：26美元
</p>
<p align="left">
    　　逾时报名费（过了一般报名时间而在最后报名期限前）：27美元
</p>
<p align="left">
    　　Waitlist（不进行报名，考试当天直接进场考试）费用：44美元
</p>
<p align="left">
    　　国际报名：31美元
</p>
<p align="left">
    　　在印度和巴基斯坦考试附加费：24美元
</p>
<p align="left">
    　　具体参见College Board网站。
</p>
<p align="left">
    <a name="5_5"></a>
    <a name="sub95395_5_5"></a>
    <strong>报名步骤</strong>
    <strong> </strong>
    <strong>Steps for Signing Up</strong>
</p>
<p align="left">
    　　<a name="ref_[5]_95395"></a>SAT考试有三种报名方式：
</p>
<p align="left">
    　　第一，邮寄报名。向College Board美国大学委员会写信申请报名表格；
</p>
<p align="left">
    　　第二，网上报名。登陆College Board美国大学委员会的主页注册报名；
</p>
<p align="left">
    　　第三，电话报名。但是电话报名需要参加过SAT考试，在College Board美国大学委员会有考生详细注册信息。
</p>
<p align="left">
    　　SAT考试报名之前，大家需要准备一张国际信用卡，这张卡的作用是用来缴纳SAT考试费用，国际信用卡的办理时间一般是7到20天，所以大家需要提前到银行办理。
</p>
<p align="left">
    　　拿到信用卡之后，考生需要登录SAT考试官方网站：College Board进行网上报名的相关步骤。
</p>
<p align="left">
    　　SAT考试网上报名之前需要进行注册，登陆 College Board网站点击For students，出现registration页面，在My Organizer点击Sign
    up，注册一个account，有些信息是必填，有些是选填的，提交后得到用户名和密码，(注意邮信等地址中不要有,.等符号，用空格即可)，进入My Organizer页面，就注册完了。
</p>
<p align="left">
    　　在SAT考试报名的过程中填写的各类信息，除了姓名，考试日期，考点等重要信息以外，在考试之前9天都是可以再次登录修改的。考试日期以后也可以改，但是属于改考，需要付费。
</p>
<p align="left">
    　　1、在My Organizer页面左下脚，点击SAT Registration &amp; Scores， 进入SAT考试报名页面，要求再次输入用户名密码，确认姓名、出生日期等。
</p>
<p align="left">
    　　2、进入My Profile页面，填写一些种族，学校，学习成绩，学术兴趣，未来研究方向等信息，这些不是必填的。 有约五页的内容要提交，之后才正式进入SAT Registrtion页面。
</p>
<p align="left">
    　　3、同意SAT考试的条款，进入下一页，这下面是最重要的地方，选择考试的类型，年级，中国的高三相当于美国的12年级，注意考试地点选美国以外提交。
</p>
<p align="left">
    　　4、下一页选考试时间，里面会显示现在能报名的考试日期，下一页是收费的考试辅导服务，不必选，再下一页就是选择考点，首先点击search for a teat center，进入另一页面选择考场，先选择地区，出现该地区考场列表，只显示还剩余考位的考场，报名截止日期一般是考试日期的前一个月。
</p>
<p align="left">
    　　5、下一页是选择要递送成绩单的学校，可以免费送四所，在考试日期结束后一周内，还可以登录修改送分学校。下一页卖辅导书，国内现在已经有售，不必选。
</p>
<p align="left">
    　　6、再下一页确认信息，填写信用卡号，确定你的姓名，出生日期与身份证上一致，名在前，姓在后，信用卡的号码、类型、有效期不能有误，SAT1费用共71美元，SAT2基础费用20+26，每一门9美元，一般报三门共73美元。交费，submit payment。
</p>
<p align="left">
    　　7、SAT考试报名的最后一步，把准考证也就是Admission ticket打印出来。一定要记住将准考证打印出来，这是进入考场的凭据。
</p>
<p align="left">
    　　8、回到My Organizer，上面会显示你的SAT考试网上报名状况，没有报名成功可以再次提交。
</p>
<p align="left">
    　　注：SAT1与SAT2的报名时间和方法一样，考试日期是在同一天，所以不能同时报名，可以在一个考试年度(6次考试)里选择不同的考试日期分别考试，SAT2各科目的考试题目都在同一本试卷上，每科考试时间1小时，一个考试日最多可以报考3科，在考试当天选择所报的科目答卷既可。
</p>
<p align="left">
    <a name="7_1"></a>
    <a name="sub95395_7_1"></a>
    <a name="7_2"></a>
    <a name="sub95395_7_2"></a>
    <a name="8_1"></a>
    <a name="sub95395_8_1"></a>
    <strong>SAT 2</strong>
    <strong>概述</strong>
    <strong> </strong>
    <strong>Introduction</strong>
</p>
<p align="left">
    　　SAT 2 科目测试（Subject Test）是为学生提供了一个展现自己在某科目方面特长的平台。现在的大学申请中，有些大学对SAT 2（即科目测验）做硬性要求，而有些大学则没有规定。
</p>
<p align="left">
    <a name="8_2"></a>
    <a name="sub95395_8_2"></a>
    <strong>科目</strong>
    <strong> </strong>
    <strong>Subject</strong>
</p>
<p align="left">
    　　英语（English）
</p>
<p align="left">
    　　文学（Literature）
</p>
<p align="left">
    　　历史（History）
</p>
<p align="left">
    　　美国历史（U.S. History）
</p>
<p align="left">
    　　世界历史（World History）
</p>
<p align="left">
    　　数学（Math）
</p>
<p align="left">
    　　数学1（Math Level 1）
</p>
<p align="left">
    　　数学2（Math Level 2）
</p>
<p align="left">
    　　[ 注：难度上，SAT数学&lt;数学1&lt;数学2。有些理工科学校要求申请者提供数学1或数学2的成绩]
</p>
<p align="left">
    　　科学（Science）
</p>
<p align="left">
    　　生态生物学/分子生物学（Biology Ecology/ Molecular）
</p>
<p align="left">
    　　化学（Chemistry）
</p>
<p align="left">
    　　物理（Physics）
</p>
<p align="left">
    　　语言（Languages）
</p>
<p align="left">
    　　有听力测试（Language with Listening）
</p>
<p align="left">
    　　中文（Chinese with Listening）
</p>
<p align="left">
    　　法语（French with Listening）
</p>
<p align="left">
    　　德语（German with Listening）
</p>
<p align="left">
    　　日语（Japanese with Listening）
</p>
<p align="left">
    　　韩语（Korean with Listening）
</p>
<p align="left">
    　　西班牙语（Spanish with Listening）
</p>
<p align="left">
    　　仅笔试（Reading Only）
</p>
<p align="left">
    　　<a href="http://baike.baidu.com/view/35595.htm" target="_blank">法语</a>（French）
</p>
<p align="left">
    　　<a href="http://baike.baidu.com/view/9334.htm" target="_blank">德语</a>（German）
</p>
<p align="left">
    　　现代希伯来语（Modern Hebrew）
</p>
<p align="left">
    　　意大利语（Italian）
</p>
<p align="left">
    　　<a href="http://baike.baidu.com/view/40632.htm" target="_blank">拉丁语</a>（Latin）
</p>
<p align="left">
    　　<a href="http://baike.baidu.com/view/20564.htm" target="_blank">西班牙语</a>（Spanish）
</p>
<p align="left">
    <a name="8_3"></a>
    <a name="sub95395_8_3"></a>
    <strong>考试时间</strong>
    <strong> </strong>
    <strong>Test Time</strong>
</p>
<p align="left">
    　　SAT 2考试日期除3月只有SAT 1外与SAT 1相同，但同一考生不能在一次考试中SAT 1、2都报。每一个考试日，一个考生可报考1～3个科目的SAT 2考试。
</p>
<p align="left">
    　　文学、美国历史、数学（1、2）、生物（E/M）、化学和物理每次考试都有。
</p>
<p align="left">
    　　所有带听力的语言考试都仅在11月提供。
</p>
<p align="left">
    　　世界历史、拉丁语在12月和6月提供。
</p>
<p align="left">
    　　意大利语只在12月提供。
</p>
<p align="left">
    　　法语（无听力）、西班牙语（无听力）在十、十二、一、五、六月提供。
</p>
<p align="left">
    <strong>SAT</strong>
    <strong>常见问题</strong>
    <strong> FAQ</strong>
</p>
<p align="left">
    　　Q1. 我会何时收到准考证？<a name="ref_[7]_95395"></a>
</p>
<p align="left">
    　　A1. 当你完成报考手续后，准考证便会随即发放，你可登入collegeboard网站打印你的准考证。
</p>
<p align="left">
    　　Q2. 我如何更改Subject Tests所报考的科目？
</p>
<p align="left">
    　　A2. 如要更改Subject Tests所报考的科目，你毋须提出申请，因为所有科目的试卷将会印在同一本试题簿内，你只需在考试时作答你想应考的科目便可。
</p>
<p align="left">
    　　Q3. 若我错过了报名日期，怎么办？
</p>
<p align="left">
    　　A3. 如你错过了报名日期，你仍可候补参与考试。考场会按候补考生到达考场的先后次序接受候补申请，惟取决于考场是否有足够的座位、试卷及监考人员。考场会优先让已报名的考生进场。
</p>
<p align="left">
    　　Q4. 我是一位内地考生，我如何来香港参与考试？
</p>
<p align="left">
    　　A4.
    内地广东省及28个城市（即上海、北京、南京、苏州、无锡、杭州、宁波、台州、福州、厦门、泉州、天津、重庆、成都、济南、沈阳、大连、南昌、长沙、南宁、海口、贵阳、昆明、石家庄、郑州、长春、合肥和武汉）的居民，如欲以个人身份来港，必须取得由内地有关公安机关所签发的《往来港澳通行证》和可供一次或两次有效的「个人旅游」签注。
</p>
<p align="left">
    　　其它的内地居民如欲来港，可参加由内地旅行社所营办的「香港游」旅行团。参加「香港游」旅行团的团员必须取得由内地有关公安机关所签发的《往来港澳通行证》和「团队旅游」签注。而「香港游」的团员须遵从「随团来，随团去」的原则。
</p>
<p align="left">
    　　Q5. 考试当日我应该携带什么？
</p>
<p align="left">
    　　A5. 你必须携带：
</p>
<p align="left">
    　　准考证
</p>
<p align="left">
    　　可接受的身份证明文件，内有照片及印有与准考证上相同的英文姓名。身份证明文件可以是香港身份证、有效护照、往来港澳通行证或学生证。
</p>
<p align="left">
    　　2号（HB）铅笔
</p>
<p align="left">
    　　-可接受的计算器，即没有QWERTY键盘、并非使用交流电、不会制造声响及没有使用纸带
</p>
<p align="left">
    　　-可接受的CD播放机（只于聆听考试适用）
</p>
<p align="left">
    　　Q6. 我应该什么时间到达考场报到？
</p>
<p align="left">
    　　A6. 请你于早上7:45前到达考场报到，考试将于早上8:15开始。
</p>
<p align="left">
    　　Q7. 什么物品是不容许带进考场？
</p>
<p align="left">
    　　A7. 以下物品不容许带进考场：
</p>
<p align="left">
    　　手提电话、传呼机、电子手帐及任何电子仪器
</p>
<p align="left">
    　　定时器及时钟（不会发声的手表除外）
</p>
<p align="left">
    　　笔记、书本、字典及草稿纸
</p>
<p align="left">
    　　原子笔、间尺、荧光笔、圆规及量角器
</p>
<p align="left">
    　　任何摄影及录音录像器材
</p>
<p align="left">
    　　Q8. 我可否在考试当日提出更改考期及/或考场？
</p>
<p align="left">
    　　A8. 可以。如你由于太迟而无法透过美国大学委员会（College Board）更改你的考期及/或考场，你可尝试在考试当日提早前往考场，如考场有剩余的座位及试卷，你可以较候补考生优先进场应考。美国大学委员会将于考试后联络你收取有关更改的费用。
</p>
<p align="left">
    　　请注意：大部份的考场都只会举行一种考试，即只会举行Reasoning Test或Subject Tests。
</p>
<p align="left">
    　　Q9. 我可否在考试后提出取消成绩？
</p>
<p align="left">
    　　A9. 可以。如你决定取消成绩，美国大学委员会必须于考试日后的星期三，美国东岸时间晚上11:59前收到有你签名确认的书面取消成绩要求文件，而你所有在该日进行的考试成绩将会被取消。你可以向考场主任索取一份取消成绩表格，并在离开考场前填妥及交回考场主任。
</p>
<p align="left">
    　　Q10. 若我在考试当日缺席，该怎么办？
</p>
<p>
    A10. 若你缺席考试，但仍想在另一日应考，你可以联络美国大学委员会转换一个较后的考期，并需缴付更改考期的费用。但若你不欲再应考，所有考试及报名费用均不会退还。
</p>
<p>
    <strong>二、</strong>
    <strong>SAT 2013</strong>
    <strong>年上半年报名时间表</strong>
    <strong> SAT Sign-up Time in 2013</strong>
</p>
<p>
    <strong></strong>
</p>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0" width="400">
        <tbody>
            <tr>
                <td colspan="3" valign="top">
                    <p align="center">
                        2012年下半年-2013年上半年SAT考试报名时间
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p align="center">
                        SAT考试日期
                    </p>
                </td>
                <td valign="top">
                    <p align="center">
                        注册时间
                    </p>
                </td>
                <td valign="top">
                    <p align="center">
                        报名截止时间
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p align="left">
                        2013年1月26日
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2012年12月28日
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2013年1月11日
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p align="left">
                        2013年3月9日(北美)
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2013年2月8日
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2013年2月22日
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p align="left">
                        2013年5月4日
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2013年4月5日
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2013年4月19日
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p align="left">
                        2013年6月1日
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2013年5月2日
                    </p>
                </td>
                <td valign="top">
                    <p align="left">
                        2013年5月17日
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    2013年上半年共安排4场考试，考试时间分别是1月26日、3月9日、5月4日、6月1日。有参加下半年考试需求的考生可以准备注册，并根据考试时间适当调整自己的备考计划。留西教育预祝各位考生取得好成绩。
</p>
<p>
    　　<strong>考试费用：</strong>定期登记：$49,；逾期报名：$75。
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>三、</strong>
    <strong>SAT</strong>
    <strong>网上报名</strong>
    <strong> Sign Up On Internet</strong>
    <strong></strong>
</p>
<p>
    www.collegeboard.org
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>四、留西教育2013</strong>
    <strong>年课程安排 Qwestprep course plan in 2013</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>留西教育2013</strong>
    <strong>年春季课程安排 Qwestprep course plan in spring in 2013</strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="555">
    <tbody>
        <tr>
            <td width="555" nowrap="" colspan="8">
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>留西教育</strong>
                    <strong>2013</strong>
                    <strong>年春季课程安排</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="71">
                <p align="center">
                    <strong>课程名称</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="69">
                <p align="center">
                    <strong>课程分类</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="77">
                <p align="center">
                    <strong>详情</strong>
                    <strong>details</strong>
                </p>
            </td>
            <td width="61">
                <p align="center">
                    <strong>课时</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="69">
                <p align="center">
                    <strong>上课时间</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="69">
                <p align="center">
                    <strong>学费</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="69">
                <p align="center">
                    <strong>班级人数</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="67">
                <p align="center">
                    <strong>预定</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="71" rowspan="3">
                <p align="center">
                    SAT基础班
                </p>
            </td>
            <td width="69">
                <p align="left">
                    周中班
                </p>
            </td>
            <td width="77">
                <p align="center">
                    　Go to The next form
                </p>
            </td>
            <td width="61">
            </td>
            <td width="69">
            </td>
            <td width="69">
            </td>
            <td width="69">
            </td>
            <td width="67">
            </td>
        </tr>
        <tr>
            <td width="69">
                <p align="left">
                    周末班
                </p>
            </td>
            <td width="77">
            </td>
            <td width="61">
            </td>
            <td width="69">
            </td>
            <td width="69">
            </td>
            <td width="69">
            </td>
            <td width="67">
            </td>
        </tr>
        <tr>
            <td width="69">
                <p align="left">
                    晚班
                </p>
            </td>
            <td width="77">
            </td>
            <td width="61">
            </td>
            <td width="69">
            </td>
            <td width="69">
            </td>
            <td width="69">
            </td>
            <td width="67">
            </td>
        </tr>
        <tr>
            <td width="71" nowrap="" rowspan="3">
                <p align="center">
                    SAT中级班
                </p>
            </td>
            <td width="69" nowrap="">
                <p align="left">
                    周中班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    周末班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    晚班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="71" nowrap="" rowspan="3">
                <p align="center">
                    SAT高级班
                </p>
            </td>
            <td width="69" nowrap="">
                <p align="left">
                    周中班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    周末班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    晚班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="71" nowrap="" rowspan="3">
                <p align="center">
                    SAT VIP班
                </p>
            </td>
            <td width="69" nowrap="">
                <p align="left">
                    周中班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    周末班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    晚班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="71" nowrap="" rowspan="3">
                <p align="center">
                    SAT 冲刺班
                </p>
            </td>
            <td width="69" nowrap="">
                <p align="left">
                    周中班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    周末班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="69" nowrap="">
                <p align="left">
                    晚班
                </p>
            </td>
            <td width="77" nowrap="">
            </td>
            <td width="61" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="69" nowrap="">
            </td>
            <td width="67" nowrap="">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong></strong>
</p>

<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>留西教育2013</strong>
    <strong>年寒假课程安排</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>SAT基础班</strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="562">
    <tbody>
        <tr>
            <td width="83">
                <p align="center">
                    <strong>课程名称</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课程分类</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="28">
                <p align="center">
                    <strong>详情</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课时</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="236">
                <p align="center">
                    <strong>上课时间</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="57">
                <p align="center">
                    <strong>学费</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="50">
                <p align="center">
                    <strong>班级人数</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="32">
                <p align="center">
                    <strong>预定</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" rowspan="3">
                <p align="center">
                    SAT基础班
                </p>
            </td>
            <td width="38">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28">
            </td>
            <td width="38">
                <p align="center">
                    60
                </p>
            </td>
            <td width="236">
                <p align="center">
                    <a name="OLE_LINK2"></a>
                    <a name="OLE_LINK1">周一至周五</a>
                    9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57">
                <p align="center">
                    10000
                </p>
            </td>
            <td width="50">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    90
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    15000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    120
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    20000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>SAT中级班（入学模考分数1300-1600）</strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="562">
    <tbody>
        <tr>
            <td width="83">
                <p align="center">
                    <strong>课程名称</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课程分类</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="28">
                <p align="center">
                    <strong>详情</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课时</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="236">
                <p align="center">
                    <strong>上课时间</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="57">
                <p align="center">
                    <strong>学费</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="50">
                <p align="center">
                    <strong>班级人数</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="32">
                <p align="center">
                    <strong>预定</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" rowspan="3">
                <p align="center">
                    SAT中级班
                </p>
            </td>
            <td width="38">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28">
            </td>
            <td width="38">
                <p align="center">
                    60
                </p>
            </td>
            <td width="236">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57">
                <p align="center">
                    10000
                </p>
            </td>
            <td width="50">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    90
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    15000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    120
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    20000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>SAT高级班（入学模考分数1600-1900）</strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="562">
    <tbody>
        <tr>
            <td width="83">
                <p align="center">
                    <strong>课程名称</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课程分类</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="28">
                <p align="center">
                    <strong>详情</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课时</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="236">
                <p align="center">
                    <strong>上课时间</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="57">
                <p align="center">
                    <strong>学费</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="50">
                <p align="center">
                    <strong>班级人数</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="32">
                <p align="center">
                    <strong>预定</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" rowspan="3">
                <p align="center">
                    SAT高级班
                </p>
            </td>
            <td width="38">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28">
            </td>
            <td width="38">
                <p align="center">
                    60
                </p>
            </td>
            <td width="236">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57">
                <p align="center">
                    10000
                </p>
            </td>
            <td width="50">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    90
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    15000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    120
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    20000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    20
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>SAT2200冲刺班（模考需在1950分以上，真考1900分以上。开班后将与学生签订保分协议）</strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="562">
    <tbody>
        <tr>
            <td width="83">
                <p align="center">
                    <strong>课程名称</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课程分类</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="28">
                <p align="center">
                    <strong>详情</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课时</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="236">
                <p align="center">
                    <strong>上课时间</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="57">
                <p align="center">
                    <strong>学费</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="50">
                <p align="center">
                    <strong>班级人数</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="32">
                <p align="center">
                    <strong>预定</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" rowspan="3">
                <p align="center">
                    SAT2200
                </p>
                <p align="center">
                    冲刺班
                </p>
            </td>
            <td width="38">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28">
            </td>
            <td width="38">
                <p align="center">
                    60
                </p>
            </td>
            <td width="236">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57">
                <p align="center">
                    10000
                </p>
            </td>
            <td width="50">
                <p align="center">
                    30
                </p>
            </td>
            <td width="32">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    90
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    15000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    30
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    120
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    20000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    30
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>SAT 精品班 （小班教学）</strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="562">
    <tbody>
        <tr>
            <td width="83">
                <p align="center">
                    <strong>课程名称</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课程分类</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="28">
                <p align="center">
                    <strong>详情</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课时</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="236">
                <p align="center">
                    <strong>上课时间</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="57">
                <p align="center">
                    <strong>学费</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="50">
                <p align="center">
                    <strong>班级人数</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="32">
                <p align="center">
                    <strong>预定</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" rowspan="3">
                <p align="center">
                    SAT精品班
                </p>
            </td>
            <td width="38">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28">
            </td>
            <td width="38">
                <p align="center">
                    60
                </p>
            </td>
            <td width="236">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57">
                <p align="center">
                    12000
                </p>
            </td>
            <td width="50">
                <p align="center">
                    3-5
                </p>
            </td>
            <td width="32">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    90
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    17000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    3-5
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    120
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    22000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    3-5
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>SAT VIP班 （一对一） </strong>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="562">
    <tbody>
        <tr>
            <td width="83">
                <p align="center">
                    <strong>课程名称</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课程分类</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="28">
                <p align="center">
                    <strong>详情</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="38">
                <p align="center">
                    <strong>课时</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="236">
                <p align="center">
                    <strong>上课时间</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="57">
                <p align="center">
                    <strong>学费</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="50">
                <p align="center">
                    <strong>班级人数</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="32">
                <p align="center">
                    <strong>预定</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" rowspan="3">
                <p align="center">
                    SAT VIP班
                </p>
            </td>
            <td width="38">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28">
            </td>
            <td width="38">
                <p align="center">
                    60
                </p>
            </td>
            <td width="236">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57">
                <p align="center">
                    36000
                </p>
            </td>
            <td width="50">
                <p align="center">
                    1
                </p>
            </td>
            <td width="32">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    90
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）
                </p>
                <p align="center">
                    周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    54000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    1
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
        <tr>
            <td width="38" nowrap="">
                <p align="center">
                    周中班
                </p>
            </td>
            <td width="28" nowrap="">
            </td>
            <td width="38" nowrap="">
                <p align="center">
                    120
                </p>
            </td>
            <td width="236" nowrap="">
                <p align="center">
                    周一至周五9:00-15:00
                </p>
                <p align="center">
                    （午休：12:00-13：:00）周六9：00-12:30模考，周日点评
                </p>
            </td>
            <td width="57" nowrap="">
                <p align="center">
                    72000
                </p>
            </td>
            <td width="50" nowrap="">
                <p align="center">
                    1
                </p>
            </td>
            <td width="32" nowrap="">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong></strong>
</p>
</div>

-->