<div class="row">
		<h1>Test Preparation Resources</h1>
			<p class="lead">There are plenty of SAT prep resources available online to help you get started. </p>
			<p>While no substitute for the personalized attention of a professional instructor, these
				resources can help you develop a test preparation plan and do some basic diagnostics work.
			<p>Once you're done looking through the resources featured on this page, please don't hesistate to contact one
				of our professional course consultants at 021-5212-5489 or at <a href="mailto:information@qwestprep.com">information@qwestprep.com</a> in order to arrange a graded mock exam and personalized study
				plan consultation, free of charge.</p>
</div>
<div class="row">		
		<ul>
			<li><a href="http://www.collegeboard.org">Collegeboard.org</a></li>
			<li><a href="https://bigfuture.collegeboard.org/college-search">College Search</a></li>
			<li><a href="http://sat.collegeboard.org/register">SAT Registration</a></p></li>
			<li><a href="http://sat.collegeboard.org/practice/sat-question-of-the-day">The Official SAT Question of the Day</a></li>
			<li><a href="https://bigfuture.collegeboard.org/scholarship-search">Scholarship Search</a></li>
			<li><a href="https://bigfuture.collegeboard.org/majors-careers">Major and Career Profiles</a></li>
			<li><a href="http://sat.collegeboard.org/practice/sat-practice-test">Free Official SAT Practice Test</a></li>
			<li><a href="http://img.sparknotes.com/content/testprep/pdf/sat.vocab.pdf">1000 High Frequency SAT Vocab Words</a></li>
		</ul>
	</div>
</div>
