<div class="container">
	<div class="row">
		<h1 class="center">美国排名前50的大学</h1>
	</div>
	<div class="row">
		
<style type="text/css">
table.tableizer-table {
	text-align: left;
	width: 100%;
	font-size: 100%;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
} 
.tableizer-table td {
	padding: 8px;
	font-size:0.875em;
	margin: 3px;
	border-bottom: 1px solid #ccc;
}

.tableizer-table td:hover {
	
}

.tableizer-table th {
	font-size: 1.0em;
	padding: 5px; 
	color: #000000;
	font-weight: bold;
	border-bottom: 2px solid #fff
}
</style>

<table class="tableizer-table">
<tr class="tableizer-firstrow"><th>排名</th><th>大学</th><th>录取率</th><th>录取总分</th><th>批判性阅读</th><th>数学</th></tr>
 <tr><td>1</td><td>Harvard University  &#21704;&#20315;&#22823;&#23398; </td><td>7.20%</td><td>2070 - 2350</td><td>690 - 780</td><td>690 - 790</td></tr>
 <tr><td>2</td><td>Stanford University &#26031;&#22374;&#31119;&#22823;&#23398; </td><td>8.00%</td><td>2010 - 2300</td><td>660 - 760</td><td>680 - 780</td></tr>
 <tr><td>3</td><td>Yale University &#32822;&#40065;&#22823;&#23398; </td><td>8.60%</td><td>2100 - 2370</td><td>700 - 800</td><td>700 - 780</td></tr>
 <tr><td>4</td><td>Princeton University &#26222;&#26519;&#26031;&#39039;&#22823;&#23398; </td><td>10.10%</td><td>2090 - 2360</td><td>690 - 790</td><td>700 - 790</td></tr>
 <tr><td>5</td><td>Massachusetts Institute of Technology &#40635;&#30465;&#29702;&#24037;&#23398;&#38498; </td><td>10.70%</td><td>2030 - 2320</td><td>650 - 760</td><td>720 - 800</td></tr>
 <tr><td>6</td><td>Columbia University &#21733;&#20262;&#27604;&#20122;&#22823;&#23398; </td><td>11.00%</td><td>2050 - 2320</td><td>680 - 770</td><td>680 - 780</td></tr>
 <tr><td>7</td><td>Brown University &#24067;&#26391;&#22823;&#23398; </td><td>11.20%</td><td>1990 - 2300</td><td>650 - 760</td><td>670 - 770</td></tr>
 <tr><td>8</td><td>Dartmouth College &#36798;&#29305;&#33541;&#26031;&#23398;&#38498; </td><td>13.50%</td><td>2000 - 2320</td><td>660 - 770</td><td>670 - 780</td></tr>
 <tr><td>9</td><td>California Institute of Technology &#21152;&#24030;&#29702;&#24037;&#23398;&#38498; </td><td>15.30%</td><td>2140 - 2340</td><td>690 - 770</td><td>770 - 800</td></tr>
 <tr><td>10</td><td>University of Pennsylvania &#23486;&#24030;&#22823;&#23398; </td><td>17.70%</td><td>2020 - 2290</td><td>660 - 750</td><td>690 - 780</td></tr>
 <tr><td>11</td><td>Georgetown University &#20052;&#27835;&#25958;&#22823;&#23398; </td><td>18.80%</td><td>1965 - 2235</td><td>650 - 740</td><td>660 - 750</td></tr>
 <tr><td>12</td><td>Cornell University &#24247;&#22856;&#23572;&#22823;&#23398; </td><td>19.10%</td><td>1935 - 2250</td><td>630 - 730</td><td>660 - 770</td></tr>
 <tr><td>13</td><td>Vanderbilt University &#33539;&#24503;&#22561;&#22823;&#23398; </td><td>20.10%</td><td>2010 - 2270</td><td>660 - 750</td><td>690 - 770</td></tr>
 <tr><td>14</td><td>University of California-Berkeley &#21152;&#24030;&#22823;&#23398;&#20271;&#20811;&#21033;&#26657;&#21306; </td><td>21.50%</td><td>1800 - 2170</td><td>580 - 700</td><td>620 - 760</td></tr>
 <tr><td>15</td><td>Washington University in St Louis &#21326;&#30427;&#39039;&#22823;&#23398; </td><td>22.20%</td><td>2085 - 2295</td><td>680 - 750</td><td>710 - 780</td></tr>
 <tr><td>16</td><td>Rice University &#36182;&#26031;&#22823;&#23398; </td><td>22.30%</td><td>1970 - 2270</td><td>640 - 750</td><td>680 - 780</td></tr>
 <tr><td>17</td><td>Duke University &#26460;&#20811;&#22823;&#23398; </td><td>22.40%</td><td>2000 - 2300</td><td>660 - 760</td><td>680 - 780</td></tr>
 <tr><td>18</td><td>University of California-Los Angeles &#21152;&#24030;&#22823;&#23398;&#27931;&#26441;&#30710;&#20998;&#26657; </td><td>22.80%</td><td>1730 - 2100</td><td>560 - 680</td><td>590 - 720</td></tr>
 <tr><td>19</td><td>University of Southern California &#21335;&#21152;&#24030;&#22823;&#23398; </td><td>24.40%</td><td>1910 - 2180</td><td>620 - 710</td><td>650 - 740</td></tr>
 <tr><td>20</td><td>Northwestern University &#35199;&#21271;&#22823;&#23398; </td><td>26.20%</td><td>2030 - 2280</td><td>670 - 750</td><td>690 - 780</td></tr>
 <tr><td>21</td><td>Tulane University of Louisiana </td><td>26.50%</td><td>1870 - 2110</td><td>620 - 700</td><td>620 - 700</td></tr>
 <tr><td>22</td><td>Tufts University &#22612;&#22827;&#33576;&#22823;&#23398; </td><td>26.60%</td><td>2040 - 2300</td><td>680 - 750</td><td>680 - 790</td></tr>
 <tr><td>23</td><td>Emory University &#22467;&#40664;&#37324;&#22823;&#23398; </td><td>26.60%</td><td>1960 - 2240</td><td>640 - 740</td><td>670 - 760</td></tr>
 <tr><td>24</td><td>University of Chicago &#33437;&#21152;&#21733;&#22823;&#23398; </td><td>27.30%</td><td>2055 - 2340</td><td>690 - 780</td><td>680 - 780</td></tr>
 <tr><td>25</td><td>Johns Hopkins University &#32422;&#32752;&#38669;&#26222;&#37329;&#26031;&#22823;&#23398; </td><td>27.80%</td><td>1940 - 2230</td><td>630 - 730</td><td>670 - 770</td></tr>
 <tr><td>26</td><td>University of Notre Dame &#22307;&#27597;&#22823;&#23398; </td><td>28.60%</td><td>1995 - 2265</td><td>650 - 750</td><td>680 - 760</td></tr>
 <tr><td>27</td><td>Boston College &#27874;&#26031;&#39039;&#23398;&#38498; </td><td>30.10%</td><td>1880 - 2150</td><td>610 - 700</td><td>640 - 730</td></tr>
 <tr><td>28</td><td>San Diego State University </td><td>31.20%</td><td>1395 - 1755</td><td>460 - 570</td><td>470 - 600</td></tr>
 <tr><td>29</td><td>University of Virginia-Main Campus </td><td>32.10%</td><td>1840 - 2150</td><td>600 - 710</td><td>630 - 730</td></tr>
 <tr><td>30</td><td>Brandeis University &#24067;&#20848;&#24503;&#26031;&#22823;&#23398; </td><td>32.40%</td><td>1930 - 2180</td><td>640 - 720</td><td>650 - 730</td></tr>
 <tr><td>31</td><td>Lehigh University </td><td>32.80%</td><td>1815 - 2085</td><td>580 - 670</td><td>630 - 720</td></tr>
 <tr><td>32</td><td>College of William and Mary &#23041;&#24265;&#29595;&#20029;&#23398;&#38498; </td><td>33.50%</td><td>1850 - 2160</td><td>620 - 730</td><td>620 - 720</td></tr>
 <tr><td>33</td><td>University of North Carolina at Chapel Hill&#21271;&#21345;&#32599;&#26469;&#32435;&#22823;&#23398;&#25945;&#22530;&#23665;&#20998;&#26657; </td><td>34.00%</td><td>1800 - 2080</td><td>590 - 690</td><td>620 - 700</td></tr>
 <tr><td>34</td><td>Pepperdine University </td><td>34.40%</td><td>1660 - 2010</td><td>550 - 670</td><td>560 - 680</td></tr>
 <tr><td>35</td><td>Carnegie Mellon University &#21345;&#20869;&#22522;&#26757;&#38471;&#22823;&#23398; </td><td>36.30%</td><td>1910 - 2220</td><td>620 - 720</td><td>670 - 780</td></tr>
 <tr><td>36</td><td>George Washington University </td><td>37.40%</td><td>1790 - 2070</td><td>590 - 680</td><td>600 - 690</td></tr>
 <tr><td>37</td><td>New York University &#32445;&#32422;&#22823;&#23398; </td><td>37.80%</td><td>1830 - 2140</td><td>610 - 710</td><td>600 - 720</td></tr>
 <tr><td>38</td><td>University of Rochester &#32599;&#20999;&#26031;&#29305;&#22823;&#23398; </td><td>38.70%</td><td>1820 - 2100</td><td>590 - 690</td><td>640 - 720</td></tr>
 <tr><td>39</td><td>SUNY at Binghamton </td><td>39.70%</td><td>1785 - 2025</td><td>580 - 660</td><td>610 - 690</td></tr>
 <tr><td>40</td><td>University of California-San Diego &#21152;&#21033;&#31119;&#23612;&#20122;&#22823;&#23398;&#22307;&#22320;&#20122;&#21733;&#20998;&#26657; </td><td>39.90%</td><td>1700 - 2040</td><td>540 - 660</td><td>600 - 710</td></tr>
 <tr><td>41</td><td>Stony Brook University </td><td>39.90%</td><td>1620 - 1910</td><td>520 - 620</td><td>580 - 670</td></tr>
 <tr><td>42</td><td>Georgia State University </td><td>41.00%</td><td>1450 - 1740</td><td>490 - 580</td><td>480 - 590</td></tr>
 <tr><td>43</td><td>Northeastern University </td><td>41.00%</td><td>1780 - 2040</td><td>580 - 670</td><td>620 - 700</td></tr>
 <tr><td>44</td><td>University of the Pacific </td><td>41.50%</td><td>1550 - 1960</td><td>510 - 640</td><td>540 - 680</td></tr>
 <tr><td>45</td><td>University of Maryland-College Park </td><td>41.90%</td><td>1800 - 2085</td><td>580 - 680</td><td>620 - 710</td></tr>
 <tr><td>46</td><td>Rensselaer Polytechnic Institute </td><td>42.20%</td><td>1850 - 2130</td><td>610 - 700</td><td>660 - 750</td></tr>
 <tr><td>47</td><td>University of South Florida </td><td>42.40%</td><td>1550 - 1860</td><td>520 - 620</td><td>530 - 640</td></tr>
 <tr><td>48</td><td>University of Florida </td><td>42.70%</td><td>1710 - 2040</td><td>560 - 670</td><td>580 - 690</td></tr>
 <tr><td>49</td><td>SUNY College of Environmental Science and Forestry </td><td>43.10%</td><td>1605 - 1890</td><td>530 - 620</td><td>540 - 640</td></tr>
 <tr><td>50</td><td>University of Miami </td><td>44.40%</td><td>1740 - 2050</td><td>570 - 680</td><td>600 - 700</td></tr></table>

		
	</div>
		
	</div>