@import "bootstrap";

html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar {
	margin-top: -50px;
	margin-bottom: 20px;
	width: auto;
	position: relative;
	top: 0;
}

.navbar a {
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
	text-decoration: none;
}

.navbar a:hover {
	color: #0262CC;
} 

.container-fluid {
	margin: 0;
	padding: 0;
	top: 0;
}

.hero-unit {
	background-image:url('../home_bg_zh.jpg');
	background-repeat:no-repeat;
	background-position: center;
	background-size: 100%;
	min-height: 100px;
}

.span4 h2 {
	text-align: center;
}

#nav_left {
	float: left;
	margin-bottom: 20px;
}

#nav_right {
	float: right;
	margin-top: 20px;
	color: #020202;
	text-decoration: none;
}

#nav_right ul {
	list-style-type: none;
}

#nav_right li {
	display: block;
	float: right
}

#logo {
	max-width: 180px;
	height: auto;
}