<hr>
<footer class="footer">
	&copy; Ivy League International Education 2012
	<nav class="nav nav-pills pull-right">
			<li><%= link_to "Contact Us", contact_path %></li>
			<li><%= link_to "Employment", employment_path %></li>
			<li><%= link_to "Get Started", "#" %></li>
	</nav>
</footer>
