<hr>
<footer class="footer">
	&copy; 2010 QwestPrep International
	<nav class="nav nav-pills pull-right">
			<li><%= link_to "联系我们/Contact Us", contact_path %></li>
			<li><%= link_to "求职招聘/Employment", employment_path %></li>
			<li><%= link_to "Get Started", "#" %></li>
	</nav>
</footer>
